<h2>工程 <strong>{{project}}</strong> 详情</h2>

<div class="text-right">
    <a href="/dashboard/{{project}}" class="btn btn-info">打开看板</a>
    <input type="button" class="btn btn-info"
           value="删除这个项目" ng-click="remove();">
</div>
<hr/>
<fieldset>
    <legend>项目配置</legend>
    <form class="form-inline" name="projectForm" novalidate>
        <div class="control-group" ng-class="{true:'error'}[projectForm.projectHtml.$invalid]">
            <label class="control-label" for="projectHtml">Html</label>

            <div class="controls">
                <textarea ui-codemirror="htmlOptions" ng-model="config.html" id="projectHtml"
                          name="projectHtml" required></textarea>
                <br/>
                <span class="help-block" ng-show="projectForm.projectHtml.$error.required">Html is required!</span>

            </div>
        </div>
        <hr/>
        <div class="control-group" ng-class="{true:'error'}[projectForm.projectConfig.$invalid]">
            <label class="control-label" for="projectConfig">Config</label>

            <div class="controls">
                <textarea ui-codemirror="jsOptions" ng-model="config.setting" id="projectConfig"
                          name="projectConfig" required ui-validate="{'json':'isJson($value)'}"></textarea>

                <br/>
                <span class="help-block"
                      ng-show="projectForm.projectConfig.$error.required">Project config is required!</span>
                <span class="help-block"
                      ng-show="projectForm.projectConfig.$error.json">Please check json format.</span>

            </div>
        </div>
        <div class="text-right">
            <input type="button" class="btn btn-primary" ng-disabled="projectForm.$invalid|| !projectForm.$dirty"
                   value="保存配置" ng-click="saveConfig();">
        </div>
        <div>{{result}}</div>
    </form>

